@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdf5e3;
}

p,
label,
h1,
h2,
h3,
body,
code {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5% !important;
}

p,
label {
  font-size: 1.8rem !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.my-node-enter {
  opacity: 0;
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.activeLine {
  position: absolute;
  background: rgba(235, 77, 75, 0.5);
  z-index: 1000;
}
